<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5 animated fadeIn fast">Skills</h2>

        <div class="subheading mb-3 animated fadeIn">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons animated fadeIn">
            <li title="HTML5" class="list-inline-item">
                <i class="devicons devicons-html5"></i>
            </li>
            <li title="PHP" class="list-inline-item">
                <i class="devicons devicons-php"></i>
            </li>
            <li title="JavaScript" class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
            </li>
            <li title="JQuery" class="list-inline-item">
                <i class="devicons devicons-jquery"></i>
            </li>
            <li title="Laravel" class="list-inline-item">
                <i class="devicons devicons-laravel"></i>
            </li>
            <li title="Linux" class="list-inline-item">
                <i class="devicons devicons-linux"></i>
            </li>
            <li title="Bootstrap" class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
            </li>
            <li title="Visual Studio" class="list-inline-item">
                <i class="devicons devicons-visualstudio"></i>
            </li>
            <li title="Git" class="list-inline-item">
                <i class="devicons devicons-git"></i>
            </li>
            <li title="Microsoft SQL" class="list-inline-item">
                <i class="devicons devicons-msql_server"></i>
            </li>
            <li title="Angular" class="list-inline-item">
                <i class="devicons devicons-angular"></i>
            </li>
            <li title="NodeJS" class="list-inline-item">
                <i class="devicons devicons-nodejs"></i>
            </li>
            <li title="MongoDB" class="list-inline-item">
                <i class="devicons devicons-mongodb"></i>
            </li>
            <li title="Ionic" class="list-inline-item">
                <i class="devicons devicons-ionic"></i>
            </li>
            <li title="Dart" class="list-inline-item">
                <i class="devicons devicons-dart"></i>
            </li>
        </ul>

        <div class="subheading mb-3 animated fadeIn">Additional information</div>
        <ul class="fa-ul mb-0 animated fadeIn">
            <li>
                <i class="fa-li fa fa-check"></i> English: Upper Intermidiate
            </li>
            <li>
                <i class="fa-li fa fa-check"></i> Spanish: Native Speaker
            </li>
            <li>
                <i class="fa-li fa fa-check"></i> Currently learning Flutter
            </li>
        </ul>
    </div>
</section>