<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5 animated fadeIn fast">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Fullstack developer</h3>
                <div class="subheading mb-3">0Ohm</div>
                <!--
                <p>
                    Developer of hybrid mobile applications in Ionic, back end Nodejs, MongoDB database, web system development based on sockets with nodejs and front end with Angular
                    <br> Desarrollador de aplicaciones móbiles hibridas en Ionic, back end nodejs, base de datos MongoDB, desarrollo de sistema web basado en sockets con nodejs y front end con angular
                </p>
                <br>
                -->
                <p>
                    <b>Growbox:</b> Application for controlling a Technogrow proprietary device for intelligent plant cultivation
                    <br>
                    <a href="https://play.google.com/store/apps/details?id=cl.technogrowcl.growbox" target="_blank">Growbox app on Google Play</a>
                    <br>
                    <a href="https://apps.apple.com/cl/app/growbox/id1467975233" target="_blank">Growbox app on App Store</a>
                </p>
                <ul>
                    <li>Front end: Ionic</li>
                    <li>MQTT Protocol</li>
                    <li>Back end: NodeJS</li>
                    <li>Database: MongoDB</li>
                </ul>
                <p>
                    <b>Mineral Salt Meter: </b>Web application whose function allows visualizing the levels of mineral salts in acid pools through graphics
                </p>
                <ul>
                    <li>Front end: Angular</li>
                    <li>Chart.js</li>
                    <li>Back end: NodeJS</li>
                    <li>Serial Port protocol</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2018 - July 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Fullstack developer</h3>
                <div class="subheading mb-3">Agibiz</div>
                <p>
                    <b>Apoderados app (Representatives app): </b>Web application to manage legal entities for the Provida company, this application has user and profile types management.
                </p>
                <ul>
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Database: SQL</li>
                </ul>
                <p>
                    <b>Metlife Enterprise Web Application Upgrade: </b>Replacement of the old Metlife logo on all systems.
                </p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                <p>
                    <b>Marketing Provida: </b>Web application for marketing (blog style).
                </p>
                <ul>
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Database: SQL</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">October 2017 - October 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">On-site support</h3>
                <div class="subheading mb-3">Kibernum</div>
                <p>
                    On-site technical support for Sura users.
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February - October 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">On-site support</h3>
                <div class="subheading mb-3">Kibernum</div>
                <p>
                    On-site support for Tres Montes Lucchetti users.
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November - December 2016</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Call center support</h3>
                <div class="subheading mb-3">VTR</div>
                <p>
                    Remote support for internet users
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April - August 2016</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Call center support</h3>
                <div class="subheading mb-3">Atento</div>
                <p>
                    Remote support for internet users
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2015 - March 2016</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">IT Manager</h3>
                <div class="subheading mb-3">Pro-renta Ltda.</div>
                <p>
                    On-site computer support and solutions
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                    <li>Purchase of IT equipment</li>
                    <li>Database support</li>
                    <li>Web page support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2014 - August 2015</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5 animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">IT Manager</h3>
                <div class="subheading mb-3">LW Empresas</div>
                <p>
                    On-site computer support and solutions
                </p>
                <ul>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                    <li>Purchase of IT equipment</li>
                    <li>Database support</li>
                    <li>Web page support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">January - April 2015</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row animated fadeIn">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Internship</h3>
                <div class="subheading mb-3">Silent Designs</div>
                <p>
                    On-site computer support and solutions.
                </p>
                <ul>
                    <li>Cake Php</li>
                    <li>User Support</li>
                    <li>Hardware Support</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February - April 2014</span>
            </div>
        </div>

    </div>

</section>