<section class="resume-section p-3 p-lg-5 d-flex d-column animated fadeIn fast" id="about">
    <div class="my-auto">
        <h1 class="mb-0">Felipe
            <span class="text-primary">Cartagena</span>
        </h1>
        <div class="subheading mb-5 animated fadeIn">
            <a href="mailto:felipecartagenavasquez@gmail.com">felipecartagenavasquez@gmail.com</a>
        </div>
        <p class="mb-5 animated fadeIn">
            Estudiante regular de Ingeniería en Informática en la Universidad Tecnológica de Chile, INACAP, con experiencia laboral de TI, en las áreas de servicio al cliente, finanzas, soporte y mantención de HD y SW. Trabajador proactivo, comprometido, con buena
            adaptación a proyectos nuevos y en desarrollo, con capacidad de trabajo en equipo y bajo presión orientado a objetivos y cumplimiento de plazos y metas.
        </p>
        <ul class="list-inline list-social-icons mb-0 animated fadeIn">
            <li title="Stack Overflow" class="list-inline-item ">
                <a href="https://stackoverflow.com/users/10050210/efeceve" target="_blank">
                    <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
            <li title="GitHub" class="list-inline-item">
                <a href="https://github.com/efeceve" target="_blank">
                    <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
        </ul>
    </div>
</section>