<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" routerLink="about" onclick="hideNavBar()">
        <span class="d-block d-lg-none">Felipe Cartagena</span>
        <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="">
    </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="about" onclick="hideNavBar()">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="experience" onclick="hideNavBar()">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="education" onclick="hideNavBar()">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="skills" onclick="hideNavBar()">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="interests" onclick="hideNavBar()">Personal Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" onclick="hideNavBar()">Contact</a>
            </li>
        </ul>
    </div>
</nav>